<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1 class='jumbotron text-center'>Welcome!</h1>
        
        <form action = "/" method = "post" style='background-color: #d9d9d9; float: top; margin-top: 5%; margin-left: 35%; margin-right: 35%; padding-left: 20px; padding-right: 20px; padding-bottom: 30px; padding-top: 15px; border-radius: 15px'>
            <div class = "form-group justified text-center">
                <label for = "username">Username:</label>
                <input type = "text" class = "form-control" id = "username" name = "username" value = "{{ username }}" autofocus>
            </div>
            <div class = "form-group text-center">
                <label for = "password">Password:</label>
                <input type = "password" class = "form-control" id = "password" name = "password">
            </div>
            {% if error_message != "" %}
                <div style = "color: red;" >{{ error_message }}</div>
            {% endif %}
            <input type = "submit" class = "btn btn-default btn-block text-center" style='background-color: white' value = "Login">
        </form>
        </span>
    </body>
</html>