{% extends "admin_base.html" %}
{% block content %}

<h1>Welcome to the Admin Events.</h1>
<form action=" " method="post" id="form3">
    <fieldset>
        <legend>Add/Edit Events</legend>
        <select name="school">
            <option value="new">New Event</option>
            <option value="accounting1">Accounting (room 1)</option>
            <option value="accounting2">Accounting (room 2)</option>
            <option value="general">General Business & Current Events</option>
            <option value="excel">MOS Excel 2016</option>
            <option value="powerpoint">MOS Powerpoint 2016</option>
            <option value="word">MOS Word 2016</option>
        </select>
        
        <label>Event Name:</label><input type="text" name="name" placeholder="Event name" required>
        
        <label>Seat Limit:</label><input type="text" name="seats" placeholder="Seat limit" required>

        <label>Room:</label><input type="text" name="room" placeholder="Room" required>

        <label>Description:</label><input type="text" name="description" placeholder="Description" required>

        <label>Contact Name:</label><input type="text" name="contact" placeholder="Contact name" required>

        <label>Contact Title:</label><input type="text" name="title" placeholder="Contact title" required>

        <label>Contact Email Address:</label><input type="text" name="email" placeholder="Contact email address" required>

        <label>Contact Phone Number:</label><input type="text" name="pnumber" placeholder="Contact phone number (10 digit)" required>
    </fieldset>        
    <br>
    <input type="submit" value="Add Event">
</form>

{% endblock %}