{% extends "base.html" %}

{% block content %}
		<!--navbar-->
		<div class="container">
			<div class="masthead">
				<img src="assets/images/ui_llc.png" class="logo">
				<nav>
					<ul class="nav nav-justified">
						
							<li class=''><a href="./">Home</a></li>
							<li><a class="modal-btn" data-toggle="modal" data-target="#schedule">Schedule</a></li>
							<li class=''><a href="/info">Information</a></li>
							<li class=''><a href="/photos">Photos</a></li>
							
								<li class='active'><a href="/awards">Awards</a></li>
							
							<li><a class="modal-btn" data-toggle="modal" data-target="#contacts">Contact</a></li>
							
					</ul>
				</nav>
			</div>
		</div>

		<div class="container pull-down">
	<!--school rankings section-->
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h2 class="panel-title">School Rankings</h2>
		</div>
		<div class="panel-body">
			
			<div class="row">
				
			</div>
		</div>
	</div>
	<!--individual rankings section-->
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h2 class="panel-title">Individual Rankings</h2>
		</div>
		<div class="panel-body">
			
		</div>
	</div>
</div>

{% endblock %}