<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="Lake Land, Technology, Business, Computer, Contest">
		<link href="http://fonts.googleapis.com/css?family=Nunito:300" rel="stylesheet" type="text/css" />
		<title>Business &amp; Computer Contest</title>
		<meta name="description" content="Lake Land College - Business &amp; Computer Contest Website"
		<meta name="author" content="Brian Kai">
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/justified-nav.css" rel="stylesheet">
		<link href="assets/css/custom.css" rel="stylesheet">
		<script src="assets/js/jquery-2.1.3.min.js"></script>
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<div class="masthead">
				<img src="assets/images/ui_llc.png" class="logo">
				<nav>
					<ul class="nav nav-justified">
						
							<li class='active'><a href="./">Home</a></li>
							<li><a class="modal-btn" data-toggle="modal" data-target="#schedule">Schedule</a></li>
							<li class=''><a href="?p=inf">Information</a></li>
							<li class=''><a href="?p=pto">Photos</a></li>
							
								<li class=''><a href="?p=awd">Awards</a></li>
							
							<li><a class="modal-btn" data-toggle="modal" data-target="#contacts">Contact</a></li>
							
					</ul>
				</nav>
			</div>
		</div>
		<div class="jumbotron intro" data-speed="5">
	<h1 class="shadow">Business &amp; Computer Contest</h1>
	<p class="lead shadow">Do you have what it takes to compete in today's business world?</p>
	
</div>

<div class="row padded">
	<div class="col-lg-4">
		<h2>Start Here!</h2>
		<p>Contest and registration information, instructions on how the contest is scored, and everything you need to know before the contest.</p>
		<p><a class="btn btn-primary" href="?p=inf" role="button">View details &raquo;</a></p>
		<h2>Important Announcements</h2>
		<div class="panel panel-primary">
			<div class="panel-heading"><h4>Major Changes to This Year's Contest</h4></div>
			<div class="panel-body">
				This year's contest will feature one individual student event and one school team event.  Our individual event areas include MOS certification testing, Accounting, and General Business / Current Events.  We have expanded the number of students each school can bring to the contest to six(6). There are also 10 slots open for teachers who want to receive Cosmo services during the contest; click the event below for more info.


			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading"><h4>Prizes for the Winning Team</h4></div>
			<div class="panel-body">
				Each school will participate in a team event. Each student (up to six [6]) on the winning team will receive a a Google Home Mini and one 3-credit hour tuition waiver to Lake Land College. Plus, one Google Home Mini will also be awarded to the instructor of the winning team.
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading"><h4>What is MOS?</h4></div>
			<div class="panel-body">
				<p>Microsoft Office Specialist (MOS) certification is the leading IT certification in the world. More than 1 million MOS exams are taken every year in over 140 countries.  Demonstrate you have the knowledge, skills, and abilities to productively use Microsoft Office. MOS enables you to tap the full features and functionality of the Microsoft Office system, resulting in heightened levels of individual performance, confidence, and differentiation.</p>
			</div>
		</div>
		<h2>Offered Events</h2>
		
		<ul class="nav nav-pills nav-stacked">
			
				<li role="presentation"><a href="actions/getevent.cfm?id=1" data-toggle="modal" data-target="#infopopup">Accounting (room 1)</a></li>
			
				<li role="presentation"><a href="actions/getevent.cfm?id=2" data-toggle="modal" data-target="#infopopup">Accounting (room 2)</a></li>
			
				<li role="presentation"><a href="actions/getevent.cfm?id=3" data-toggle="modal" data-target="#infopopup">General Business & Current Events</a></li>
			
				<li role="presentation"><a href="actions/getevent.cfm?id=6" data-toggle="modal" data-target="#infopopup">MOS Excel 2016</a></li>
			
				<li role="presentation"><a href="actions/getevent.cfm?id=4" data-toggle="modal" data-target="#infopopup">MOS PowerPoint 2016</a></li>
			
				<li role="presentation"><a href="actions/getevent.cfm?id=5" data-toggle="modal" data-target="#infopopup">MOS Word 2016</a></li>
			
		</ul>
	</div>
	<div class="col-lg-4">
		<h2>Competition</h2>
		
			<div class="list-group">
				
					<p class="list-group-item">Centralia High School</p>
				
					<p class="list-group-item">Champaign Centennial High School </p>
				
					<p class="list-group-item">Champaign Central High School</p>
				
					<p class="list-group-item">Charleston High School</p>
				
					<p class="list-group-item">Dieterich High School</p>
				
					<p class="list-group-item">Fairfield Community High School</p>
				
					<p class="list-group-item">Flora High School</p>
				
					<p class="list-group-item">Martinsville High School</p>
				
					<p class="list-group-item">Neoga High School</p>
				
					<p class="list-group-item">Newton Community High School</p>
				
					<p class="list-group-item">Okaw Valley High School</p>
				
					<p class="list-group-item">Pana High School</p>
				
					<p class="list-group-item">Paris High School</p>
				
					<p class="list-group-item">PBL High School</p>
				
					<p class="list-group-item">Shelbyville High School</p>
				
					<p class="list-group-item">Shiloh High School</p>
				
					<p class="list-group-item">St. Elmo</p>
				
			</div>
		
	</div>
	<div class="col-lg-4">
		<h2>Campus Maps</h2>
		<iframe width="100%" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d385.2924802903314!2d-88.38089227522508!3d39.416438984078404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1430418876484"></iframe>
		<p><a class="btn btn-primary" href="http://www.lakelandcollege.edu/col/map/index.cfm" target="_blank" role="button">View details &raquo;</a></p>
		<h2>Sponsored By</h2>
		<div class="thumbnail"><img src="assets/images/logo_bus.jpg" /></div>
		<div class="thumbnail"><img src="assets/images/logo_clubit.gif" /></div>
	</div>
</div>

		<footer class="footer padded">
			<p>&copy; Lake Land College - Business Division 2019</p>
		</footer>
		<div class="modal fade" id="contacts" tabindex="-1" role="dialog" aria-label="contactsLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="contactsLabel">Contacts</h4>
					</div>
					<div class="modal-body">
						<div class="panel panel-primary">
							<div class="panel-heading">Contest Coordinator</div>
							<div class="panel-body">
								<div class="vcard">
									<p class="fn"><h2><a href="mailto:kblack@lakelandcollege.edu"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> Kathy Black</h2></p>
									<p class="adr">
										<h4 class="email">Business Division Chair</h4>
									</p>
									<p class="tel"><a class="url" href="tel:2172345348">(217) 234-5348</a></p>
								</div>
							</div>
						</div>
						<div class="panel panel-info">
							<div class="panel-heading">Website Technical Support</div>
							<div class="panel-body">
								<div class="vcard">
									<p class="fn"><h2><a href="mailto:jmunger@lakelandcollege.edu"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a> James Munger</h2></p>
									<p class="adr">
										<h4 class="email">IT Web Technology Program Coordinator</h4>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="schedule" tabindex="-1" role="dialog" aria-label="scheduleLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="scheduleLabel">Contest Schedule</h4>
					</div>
					<div class="modal-body">
						
						<ul class="list-group">
							
								<li class="list-group-item">
									<h3>09:00am to 09:30am</h3>
									<div class="well">
										<p><strong>Registration and Team Pictures</strong><br />Please get here as close to 9:00 AM as possible.</p>
										<p>Location: Front lobby of the <strong>Student Center / Administration Building</strong></p>
									</div>
								</li>
							
								<li class="list-group-item">
									<h3>09:30am to 09:45am</h3>
									<div class="well">
										<p><strong>Opening Remarks</strong><br />...</p>
										<p>Location: Theatre in the Student Center / Administration Building</p>
									</div>
								</li>
							
								<li class="list-group-item">
									<h3>09:45am to 11:00am</h3>
									<div class="well">
										<p><strong>Individual Test</strong><br />...</p>
										<p>Location: Webb Hall</p>
									</div>
								</li>
							
								<li class="list-group-item">
									<h3>11:00am to 12:30pm</h3>
									<div class="well">
										<p><strong>School Team Event</strong><br />...</p>
										<p>Location: Campus</p>
									</div>
								</li>
							
								<li class="list-group-item">
									<h3>12:30pm to 01:00pm</h3>
									<div class="well">
										<p><strong>Lunch</strong><br />Free pizza and soft drink lunch</p>
										<p>Location: Field House</p>
									</div>
								</li>
							
								<li class="list-group-item">
									<h3>01:00pm to 01:30pm</h3>
									<div class="well">
										<p><strong>Closing Awards Ceremony</strong><br />...</p>
										<p>Location: Field House</p>
									</div>
								</li>
							
						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="infopopup" tabindex="-1" role="dialog" aria-label="infoLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					
				</div>
			</div>
		</div>
		
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/validator.js"></script>
		<script src="assets/js/custom.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>