{% extends "base.html" %}

{% block content %}
		<div class="container">
			<div class="masthead">
				<img src="assets/images/ui_llc.png" class="logo">
				<nav>
					<ul class="nav nav-justified">
						
							<li class='active'><a href="./">Home</a></li>
							<li><a class="modal-btn" data-toggle="modal" data-target="#schedule">Schedule</a></li>
							<li class=''><a href="/info">Information</a></li>
							<li class=''><a href="/photos">Photos</a></li>
							
								<li class=''><a href="/awards">Awards</a></li>
							
							<li><a class="modal-btn" data-toggle="modal" data-target="#contacts">Contact</a></li>
							
					</ul>
				</nav>
			</div>
		</div>
		<div class="jumbotron intro" data-speed="5">
	<h1 class="shadow">Business &amp; Computer Contest</h1>
	<p class="lead shadow">Do you have what it takes to compete in today's business world?</p>
	
</div>

<div class="row padded">
	<div class="col-lg-4">
		<h2>Start Here!</h2>
		<p>Contest and registration information, instructions on how the contest is scored, and everything you need to know before the contest.</p>
		<p><a class="btn btn-primary" href="?p=inf" role="button">View details &raquo;</a></p>
		<h2>Important Announcements</h2>
		<div class="panel panel-primary">
			<div class="panel-heading"><h4>Major Changes to This Year's Contest</h4></div>
			<div class="panel-body">
				This year's contest will feature one individual student event and one school team event.  Our individual event areas include MOS certification testing, Accounting, and General Business / Current Events.  We have expanded the number of students each school can bring to the contest to six(6). There are also 10 slots open for teachers who want to receive Cosmo services during the contest; click the event below for more info.


			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading"><h4>Prizes for the Winning Team</h4></div>
			<div class="panel-body">
				Each school will participate in a team event. Each student (up to six [6]) on the winning team will receive a a Google Home Mini and one 3-credit hour tuition waiver to Lake Land College. Plus, one Google Home Mini will also be awarded to the instructor of the winning team.
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading"><h4>What is MOS?</h4></div>
			<div class="panel-body">
				<p>Microsoft Office Specialist (MOS) certification is the leading IT certification in the world. More than 1 million MOS exams are taken every year in over 140 countries.  Demonstrate you have the knowledge, skills, and abilities to productively use Microsoft Office. MOS enables you to tap the full features and functionality of the Microsoft Office system, resulting in heightened levels of individual performance, confidence, and differentiation.</p>
			</div>
		</div>
		<h2>Offered Events</h2>
		
		<ul class="nav nav-pills nav-stacked">
			
				<li role="presentation"><a href="actions/getevent.cfm?id=1" data-toggle="modal" data-target="#infopopup">Accounting (room 1)</a></li>
			
				<li role="presentation"><a href="actions/getevent.cfm?id=2" data-toggle="modal" data-target="#infopopup">Accounting (room 2)</a></li>
			
				<li role="presentation"><a href="actions/getevent.cfm?id=3" data-toggle="modal" data-target="#infopopup">General Business & Current Events</a></li>
			
				<li role="presentation"><a href="actions/getevent.cfm?id=6" data-toggle="modal" data-target="#infopopup">MOS Excel 2016</a></li>
			
				<li role="presentation"><a href="actions/getevent.cfm?id=4" data-toggle="modal" data-target="#infopopup">MOS PowerPoint 2016</a></li>
			
				<li role="presentation"><a href="actions/getevent.cfm?id=5" data-toggle="modal" data-target="#infopopup">MOS Word 2016</a></li>
			
		</ul>
	</div>
	<div class="col-lg-4">
		<h2>Competition</h2>
		
			<div class="list-group">
				
					<p class="list-group-item">Centralia High School</p>
				
					<p class="list-group-item">Champaign Centennial High School </p>
				
					<p class="list-group-item">Champaign Central High School</p>
				
					<p class="list-group-item">Charleston High School</p>
				
					<p class="list-group-item">Dieterich High School</p>
				
					<p class="list-group-item">Fairfield Community High School</p>
				
					<p class="list-group-item">Flora High School</p>
				
					<p class="list-group-item">Martinsville High School</p>
				
					<p class="list-group-item">Neoga High School</p>
				
					<p class="list-group-item">Newton Community High School</p>
				
					<p class="list-group-item">Okaw Valley High School</p>
				
					<p class="list-group-item">Pana High School</p>
				
					<p class="list-group-item">Paris High School</p>
				
					<p class="list-group-item">PBL High School</p>
				
					<p class="list-group-item">Shelbyville High School</p>
				
					<p class="list-group-item">Shiloh High School</p>
				
					<p class="list-group-item">St. Elmo</p>
				
			</div>
		
	</div>
	<div class="col-lg-4">
		<h2>Campus Maps</h2>
		<iframe width="100%" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d385.2924802903314!2d-88.38089227522508!3d39.416438984078404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1430418876484"></iframe>
		<p><a class="btn btn-primary" href="http://www.lakelandcollege.edu/col/map/index.cfm" target="_blank" role="button">View details &raquo;</a></p>
		<h2>Sponsored By</h2>
		<div class="thumbnail"><img src="assets/images/logo_bus.jpg" /></div>
		<div class="thumbnail"><img src="assets/images/logo_clubit.gif" /></div>
	</div>
</div>

{% endblock %}